<div class="drag_installbutton drag_installbutton_v2">
	<a href="https://marketplace.eclipse.org/marketplace-client-intro?mpc_install=3085446" class="drag"
		title="Drag to your running Eclipse* workspace. *Requires Eclipse Marketplace Client"><span
			class="btn btn-default"><i class="fa fa-download orange"></i> Install</span>
		<div class="tooltip">
			<h3>Drag to Install!</h3>Drag to your running Eclipse<sup>*</sup> workspace.
			<br /><sup>*</sup>Requires Eclipse Marketplace Client
		</div>
	</a>
</div>	