<div class="header_nav ">
  <div class="col-xs-24 col-md-10 vcenter row">
    {{ $image := resources.Get "wb_eclipse_logo.svg" }}
    <a href="/" title="The Eclipse Foundation" target="_self">
      <img src="{{ $image.RelPermalink }}" alt="The Eclipse Foundation" class="img-responsive  header_nav_logo">
    </a>
  </div>
  <div class="col-xs-24 col-md-14 vcenter">
    <ul class="clearfix">
      <li class="col-xs-24 col-md-12">
        <a class="row" href="/downloads/" title="Download: Update Sites" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-download"></i>
          <span class="col-xs-21 c col-md-17">
            Download
            <p>Update Sites</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="/involved/" title="Geting Involved: Git, Workspace Setup" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-users"></i>
          <span class="col-xs-21 c col-md-17">
            Getting Involved
            <p>Git, Workspace Setup</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="/documentation/" title="Documentation: User Guide" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-book"></i>
          <span class="col-xs-21 c col-md-17">
            Documentation
            <p>User Guide</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="/support/" title="Support: Question, Issue Tracking" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-support"></i>
          <span class="col-xs-21 c col-md-17">
            Support
            <p>Question, Issue Tracking</p>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
